<div class="col-12 d-flex justify-content-between">
  <div class="col-4">
<app-add-task [editTask]="editTask"></app-add-task>
</div>
  <div class="col-8">
    <main
      class="container d-flex flex-column align-items-center mt-3"
      role="main"
    >
      <div class="col-12 mt-5">
        <div
          *ngFor="
            let task of taskService.tasks
              | paginate
                : {
                    itemsPerPage: pageSize,
                    currentPage: pageNumber,
                    totalItems: taskService.rowsCount
                  }">
          <app-task
            [task]="task"
            (editTask)="onEdit($event)"
          ></app-task>
        </div>
      </div>
    </main>

    <pagination-controls
      class="d-flex justify-content-center me-5"
      previousLabel="قبلی"
      nextLabel="بعدی"
      (pageChange)="onChangeTable($event)"
    >
    </pagination-controls>
  </div>
</div>