<div class="d-flex justify-content-between align-items-center border rounded p-3 mb-2 link-secondary">
    <div class="col-6"
    (click)="collapse.toggle()" 
    [attr.aria-expanded]="!isShowed"
    aria-controls="collapseExample"
    type="button">{{regDate}}

    <button
        class="btn btn-sm me-5"
        [ngClass]="{'btn-success': userVacation.isConfirmed, ' btn-warning':  ! userVacation.isConfirmed } ">
        {{userVacation.isConfirmed ? 'تایید شده': 'درحال بررسی'}}
    </button>
</div>

    <div class="d-flex" *ngIf="!userVacation.isConfirmed">
        <button class="btn btn-outline-secondary fa fa-edit me-1" (click)="onEdit()"></button>
        <button class="btn btn-outline-secondary fa fa-trash" (click)="onDelete(userVacation.id)"></button>
    </div>
</div>
<div #collapse="ngbCollapse" 
    [(ngbCollapse)]="isShowed"
    >
    <div class="card-body">
        {{userVacation.description}}
    </div>
</div>

