<div class="d-flex align-content-center align-items-center justify-content-between">
<h2 *ngIf="dashboardService.resDashboardAdmin" class="m-5">{{dashboardService.resDashboardAdmin.userName}}</h2>
    <button  class="btn btn-dark top-25 mt-1 ms-2" [routerLink]="['/admin']">بازگشت به صفحه قبل</button>
    <div class=" position-absolute top-25 mt-1 ms-2 ">
  </div>
</div>
<div class="d-flex justify-content-between">
    <div class="col-4 d-flex flex-column"> 
<div class="bg bg-white p-0 rounded">
    <app-filter-date (filterDate)="filterDate($event)"></app-filter-date>
    <div class="pb-3" *ngIf="type ==1">
      <button 
      class="btn border-0 btn-block text-start p-1 d-flex align-content-center align-items-center"
      [class.btn-info]="showHome" [class.btn-outline-info]="!showHome"
      (click)="onShowHome()">
         <i class="fa fa-home fa-2x pr-4 pl-1"></i> دورکاری ها 
        </button>
    </div>
    <hr *ngIf="type !=0">
    <div class="me-4 pb-3" *ngIf="type !=0">
      <app-filter-status (filterStatus)="filterStatus($event)"></app-filter-status>
    </div>
  </div>
  <div class="mt-2 bg bg-white">
    <button class="btn btn-outline-info btn-block" (click)="type=1"> وظایف انجام شده </button>
    <button class="btn btn-outline-info btn-block" (click)="type=2 ; showHome=false"> مرخصی های ثبت شده  </button>
    <button class="btn btn-outline-info btn-block" (click)="type=3 ; showHome=false"> ماموریت های ثبت شده </button>
    <button class="btn btn-outline-info btn-block" (click)="type=4 ; showHome=false"> حضور های ثبت شده </button>

  </div>
</div>
  <div class="d-flex flex-column col-8">
<div *ngIf="dashboardService.resDashboardAdmin" class="d-flex align-items-center">
    <div
     class="text text-secondary p-3">جزئیات:
    </div>
    <div class="text-light mx-4 p-1 small bg bg-danger rounded">
      تعداد تعطیلات شرکتی: {{dashboardService.resDashboardAdmin.companyHoliday}}
    </div>
    <div class="text-light mx-4 p-1 small bg bg-danger rounded">
    تعداد تعطیلات جمعه: {{dashboardService.resDashboardAdmin.friday}}
    </div>
    <div class="text-light mx-4 p-1 small bg bg-danger rounded">
      تعداد تعطیلات رسمی: {{dashboardService.resDashboardAdmin.holiday}}
    </div>
    </div>
    <div class="table">
      <table class="table mt-3">
        <thead class="bg bg-light">
          <tr class="small">
            <th scope="col">مدت زمان کار مورد انتظار</th>
            <th scope="col">مجموع حضور</th>
            <th scope="col">مجموع زمان دورکاری	</th>
            <th scope="col">مجموع زمان کار شخصی	</th>
            <th scope="col">ماموریت (روز)</th>
            <th scope="col">مرخصی (روز)</th>
            <th scope="col"> مجموع زمان کار </th>
            <th scope="col">مجموع زمان کار (روز)</th>
            <th scope="col"> مجموع اضافه کاری </th>
            <th scope="col">بازدهی کل</th>
            <th scope="col"> مرخصی‌های ذخیره شده </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="dashboardService.resDashboardAdmin">
            <td >{{dashboardService.resDashboardAdmin.workDays}}</td>
            <td>{{dashboardService.resDashboardAdmin.totalPresenceTime}}</td>
            <td>{{dashboardService.resDashboardAdmin.taskRemote}}</td>
            <td>{{dashboardService.resDashboardAdmin.personalWork}}</td>
            <td>{{dashboardService.resDashboardAdmin.totalMissions}}</td>
            <td>{{dashboardService.resDashboardAdmin.totalVacations}}</td>
            <td>{{dashboardService.resDashboardAdmin.totalTask}}</td>
            <td>{{dashboardService.resDashboardAdmin.totalDay}}</td>
            <td>{{dashboardService.resDashboardAdmin.overTime}}</td>
            <td>{{dashboardService.resDashboardAdmin.efficiency}}</td>
            <td>{{dashboardService.resDashboardAdmin.vacationSaved}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12">
      <app-child-status [type]="type" [dateType]="dateType" [confirmedType]="confirmedType" [showHome]="showHome"></app-child-status>
  </div>
</div>
</div>
