
<div class="d-flex justify-content-between align-items-center border rounded p-3 mb-2">
    <div class="col-6 d-flex justify-content-between"
    (click)="collapse.toggle()" 
    [attr.aria-expanded]="!isShowed"
    aria-controls="collapseExample"
    >
    <div
    type="button"
    class="d-flex flex-column">
    <div>{{task.text}}</div>
</div>
    <div *ngIf="task.type==1" class="btn btn-outline-secondary fa fa-home ">
    </div>
    <div class="btn btn-sm me-5 btn-warning"
    *ngIf="task.confirmType==0">
    در حال بررسی
    </div>
    <div [ngbPopover]="task.reviewerName" triggers="mouseenter:mouseleave" popoverTitle="تایید شده توسط" class="btn btn-sm me-5 btn-danger" class="btn btn-sm me-5 btn-success"
    *ngIf="task.confirmType==1">
    تایید شده
    </div>
    <div [ngbPopover]="task.reviewerName" triggers="mouseenter:mouseleave" popoverTitle="رد شده توسط" class="btn btn-sm me-5 btn-danger" class="btn btn-sm me-5 btn-danger"
    *ngIf="task.confirmType==2">
    رد شده
    </div>
</div>
    <div>
        {{regDate}}
    </div>
    <div class="d-flex">
        <input
        class="btn btn-outline-secondary"
        type="button"
        value="{{time}}">
        <div class="d-flex" *ngIf="task.confirmType == 0">
        <button class="btn btn-outline-secondary fa fa-edit me-1" (click)="onEdit()"></button>
        <button class="btn btn-outline-secondary fa fa-trash" (click)="onDelete(task.id)"></button>
        </div>
    </div>
</div>
<div #collapse="ngbCollapse" 
    [(ngbCollapse)]="isShowed"
    >
    <div class="card-body">
        {{task.description}}
    </div>
</div>

