<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{editStatus ? 'ویرایش مرخصی': 'افزودن مرخصی'}}</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click');closeModal()"
      ></button>
    </div>
    <div class="modal-body">
      <div class="mb-3">
        <label class="mt-3">تاریخ مرخصی:</label>
        <div>
          <div class="d-flex justify-content-between mb-2">
            <input
              class="form-control"
              autocomplete="off"
              placeholder="yyyy-mm-dd"
              name="dp"
              [dpDayPicker]="datePickerConfig"
              dir="rtl"
              [(ngModel)]="dateObject"
              (onChange)="onUpdate($event)"
              theme="dp-material"
              mode="day"
            />
            <button
              class="btn btn-outline-secondary fa fa-calendar"
              type="button"
            ></button>
          </div>
          <label class="mt-3" >تشریح مرخصی:</label>
          <div>
            <textarea type="textarea" 
            class="form-control"
            placeholder="تشریح مرخصی"
            [(ngModel)]="description"

            ></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="onSave();"
      >
      {{editStatus ? 'ویرایش ': 'افزودن'}}
      </button>
    </div>
  </ng-template>
  <h2 class="m-4">مرخصی</h2>
  <div class="col-12 d-flex justify-content-between">
    <div class="col-4">
      <div class="col-12 p-0">
        <button
          class="btn btn-info col-12 mt-3 d-flex justify-content-center align-items-center"
          (click)="open(content)">
          <i class="fa fa-plus"></i> افزودن مرخصی
        </button>
      </div>
      <div class="col-12 mt-5 bg bg-white p-0">
        <app-filter-date (filterDate)="filterDate($event)"></app-filter-date>
      </div>
    </div>
    <div class="col-8">
    <div *ngFor="let userVacation of userVacationService.userVacations| paginate:{
      itemsPerPage:pageSize,
      currentPage:pageNumber,
      totalItems:userVacationService.rowsCount}">
      <app-vacation-list [userVacation]="userVacation" (editVacation)="onEdit($event , content)"></app-vacation-list>
    </div>
    <pagination-controls
    class="d-flex justify-content-center me-5"
    previousLabel="قبلی"
    nextLabel="بعدی"
    (pageChange)="onChangeTable($event)"
    >
    </pagination-controls>
  </div>
  </div>